body {
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 20px;
	background-color: #e6e2e7;
	text-align: center;
}

h1 {
	color: #3d3d3d;
}

button {
	background-color: #4199ec;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin: 10px 0;
	border-radius: 5px;
}

button:hover {
	background-color: #074eb9;
}

#userData {
	min-width: 480px;
	min-height: 150px;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	text-align: left;
}

#userListTitle {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

input {
	background: #e9ecef;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

#userDiv {
	background: #b8bfc5;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	display: flex;
}

#nameInput {
	background: #e9ecef;
	float: left;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-grow: 1;
}

#emailInput {
	background: #e9ecef;
	float: left;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-grow: 1;
}

#deleteButton {
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
}